---
---

@import "{{ site.theme }}";

body {
  background: url(/assets/bg_image.jpg);
}

nav {
  ul {
    li {
      &.tag-h1 {
        a {
          color: #fff;
        }
      }
    }
  }
}

button {
  background-color: #000000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
