---
---

@import "{{ site.theme }}";

body {
  background: url(/assets/bg_image.jpg);
}

nav {
  ul {
    li {
      &.tag-h1 {
        a {
          color: #fff;
        }
      }
    }
  }
}

table, th, td {
  border: 0px;
  table-layout: fixed;
}

th, td {
  width: 100px;
}
