---
---

@import "{{ site.theme }}";

body {
  background: url(/assets/bg_image.jpg);
}

#banner {
  background: #4276b6;
  border: 1px solid #4276b6;
  
  #logo {
    position:absolute;
    height: 36px;
    width: 36px;
    right:7px;
    top:7px;
    display: block;
    background: url(/assets/logo.png);
  }
}

nav {
  ul {
    li {
      &.tag-h1 {
        a {
          color: #fff;
        }
      }
    }
  }
}

table, th, td {
  border: 0px;
}
