---
---

@import "{{ site.theme }}";

body {
  background: url(/assets/bg_image.jpg);
}

nav {
  ul {
    li {
      &.tag-h1 {
        a {
          color: #fff;
        }
      }
    }
  }
}

table, th, td {
  border: 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
