---
---

@import "{{ site.theme }}";

body {
  background: url(/assets/bg_image.jpg);
}

#banner {
  background: #4276b6;
  border: 1px solid #4276b6;
}

nav {
  ul {
    li {
      &.tag-h1 {
        a {
          color: #fff;
        }
      }
    }
  }
}

th, td {
  border: 0px;
}
