---
---

@import "{{ site.theme }}";

body {
  background: url(/assets/bg_image.jpg);
}

nav {
  ul {
    li {
      &.tag-h1 {
        a {
          color: #fff;
        }
      }
    }
  }
}

table, th, td {
  border: 0px;
}

#banner {
  #logo {
    position:absolute;
    height: 0px;
    width: 0px;
    right: 0px;
    top: 0px;
  }
}
